
body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #abc9c6;
    padding: 20px;
}

header {
    background-color: #38726c;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #38726c;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.header1 {
    color: #1d1e2c;
    word-spacing: 50px;
    font-size: 30px;
    
}
.header3{
    color: #1d1e2c;
    text-align: center;
    padding-top: 100px;
}
main {
    border: solid #38726c;
    margin-top: 100px;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #38726c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.header2{
    font-weight: bold;
    color: #1d1e2c;
    font-size: 25px;
    
}
form {
    margin: 10px;
    padding: 20px;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 10px;
    padding: 5px 10px;
    }

input[type="submit"] {
    padding: 10px 15px;
    background-color: #38726c;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e3d3a;
}
